body {
    background-color: #fff;
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.header {
    background-color: #3e8e41;
    color: #fff;
    padding: 20px;
    margin-bottom: 20px;
}

.container {
    padding: 20px;
}

.section {
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

button {
    background-color: #d9edff;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0.375rem 0.75rem;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #cce5ff;
}

input {
    padding: 5px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}
